.main {
  display: flex;
  gap: 4em;
  justify-content: center;
  padding: 1rem 3rem 2rem;
  flex-wrap: wrap;
}

.title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
}

.currentScore {
  min-width: 10em;
}